*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(2, 0, 0);
    


}
.container{
    font-size: 40px;
    display: grid;
    height: 700px;
    width: 700px;
grid-template-columns: repeat(8,1fr);
grid-template-rows: repeat(8,1fr);
background-color: rgb(146, 142, 136);
}
.black{
    background-color: brown;
    color: white;
   
}
.white{
    
    color: brown;
    background-color: white;
}
.number{
       display: flex;
    align-items: end;
}